# pandas

In [22]:
import pandas as pd
import numpy as np
pd.options.plotting.backend = "plotly"

In [23]:
df_part = pd.read_excel("./data/participantes.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
df_csv = pd.read_csv(".csv", delimiter= ";")

## Data Frame Factory

In [13]:
data = [
    ["igna", 22],
    ["juan", 21],
    ["pablo", 25]
]
cols = ["nombre", "edad"]
df = pd.DataFrame(data= data, columns= cols, index= [1, 2, 3])
df

  nombre  edad
1   igna    22
2   juan    21
3  pablo    25

In [14]:
relevamiento = {
    "nombre" : ["igna", "juan", "pablo"],
    "edad" : [22, 20, 14]
}
df2 = pd.DataFrame(data= relevamiento)
df2

  nombre  edad
0   igna    22
1   juan    20
2  pablo    14

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  3 non-null      object
 1   edad    3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 72.0+ bytes

In [10]:
df.dtypes

nombre    object
edad       int64
dtype: object

In [15]:
df3 = df.copy()
df3

  nombre  edad
1   igna    22
2   juan    21
3  pablo    25

## Index